[flake8]
max-line-length = 79
# https://www.flake8rules.com/
select = "E101, E111, E112, E113, E116, E231, E302, E303, E305, W292, W293"
exclude = .tox, __pycache__, *.pyc, .git, .env, venv*/*, .venv/*, reports/*, dist/*, code,